{% extends "base.html" %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/detail.css' %}">
<div id="review" class="container">
  <h1>{{ review.title }}</h1>
  <p>{{ review.content | safe }}</p>
  {% if user.is_staff %}
  <a href="{% url 'update' review.id %}">
      <input class="btn btn-primary" type="submit" name="Update" value="Update">
  </a>

  <a href="{% url 'delete' review.id %}">
      <input class="btn btn-danger" type="submit" name="Delete" value="Delete">
  </a>
  {% endif %}
</div>

<div class="container" id="below">

</div>
{% endblock  %}
